body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
header{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 7vh;
}
section{
    float: left;
    width: 30.8%;
    border-style: solid ;
    border-width: 2%;
    box-sizing: border-box;
    margin: 1.2%;
    padding: 2vh;
    padding-top: 14px;
    background-color: grey;
    position: relative;
    
}
h3{
    border-style: solid;
    border-width: 1px;
    position: absolute;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    top: -21px;
    right: -2px;
}
#titlechicken{
    background-color: pink;
}
#titlebeef{
    background-color: red;
    color: white;
    border-color: black;
}
#titlesushi{
    background-color: burlywood;
}

@media only screen and (max-width: 991px){
    section{
        width: 48%;
        margin: 1%;    
    }
    .sushi{
        width: 98%;
        margin: 1%;
    }
}
@media only screen and (max-width:767px){
    section{
        width: 98%;
        margin: 1%;
    }
}
