header{
    background-color:red;
    color:orange;
}
.menubar{
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}
#collapsable-nav{
    background-color: grey;
    margin: 0%;
}
li{
    list-style-type: none;
    padding: 2%;
    font-size: 4vh;
}
.content{
    background-color: orange;
    padding: 10vh;
}
section{
    margin-top: 2vh;
    background-color: grey;
    padding: 7vh;
}
